.navbarContainer {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  padding: 1.5rem;
}

.navOptionsConatiner{
    width: 35%;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    align-items: center;
    
}

.navOptionsConatiner a{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    display: block;
}

.navOptionsConatiner > .blackBgOption{
    background-color: black;
    padding: 8px 16px;
    color: rgba(255, 255, 255, 1);
    border-radius: 99em;
}